<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑博客</title>

    <link rel="stylesheet" href="../../res/editor/css/codemirror.css">
    <link rel="stylesheet" href="../../res/editor/css/github.css">
    <link rel="stylesheet" href="../../res/editor/css/tui-editor.css">
    <link rel="stylesheet" href="../../res/editor/css/tui-editor-contents.css">
</head>
<body>
    <div id="editorSection"></div>
    <script src="../../res/editor/js/jquery-3.1.1.min.js"></script>
    <script src='../../res/editor/js/markdown-it.js'></script>
    <script src="../../res/editor/js/to-mark.js"></script>
    <script src="../../res/editor/js/tui-code-snippet.js"></script>
    <script src="../../res/editor/js/codemirror.js"></script>
    <script src="../../res/editor/js/highlight.js"></script>
    <script src="../../res/editor/js/squire-raw.js"></script>
    <script src="../../res/editor/js/tui-editor-Editor.js"></script>
    <script>
        $('#editorSection').tuiEditor({
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            height: '300px'
        });
    </script>
</body>
</html>