<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kvmial.blog.mapper.PostMapper">
    <select id="listPosts" resultMap="postMap">
            select * from `blog_post`
    </select>
    <resultMap id="postMap" type="Post" autoMapping="true">
        <result property="sticky" column="is_sticky" />
    </resultMap>
</mapper>