<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑博客</title>

    <link rel="stylesheet" href="../../../res/editor/css/codemirror.css" th:href="@{/res/editor/css/codemirror.css}">
    <link rel="stylesheet" href="../../../res/editor/css/github.css" th:href="@{/res/editor/css/github.css}">
    <link rel="stylesheet" href="../../../res/editor/css/tui-editor.css" th:href="@{/res/editor/css/tui-editor.css}">
    <link rel="stylesheet" href="../../../res/editor/css/tui-editor-contents.css" th:href="@{/res/editor/css/tui-editor-contents.css}">
    <link rel="stylesheet" href="../../../res/layui/css/layui.css" th:href="@{/res/layui/css/layui.css}" media="all">
    <style>
        .title {
            float:left;
            margin:10px 20px;
            width:60%;
        }

        /*.title input {*/
            /*float:left;*/
        /*}*/

        .operate button {
            float:right !important;
            margin:10px 5px;
        }


        .clearfix:after {
            content:" ";
            clear:both;
            display:block;
            visibility:hidden;
            height:0;
            line-height:0;
        }

        .clearfix {
            zoom:1;
        }

        .tui-editor-contents {
            font-size:16px;
        }

        .te-md-container .CodeMirror {
            font-size:16px;
        }

    </style>
</head>
<body>

    <div class="operate clearfix">
        <div class="title">
            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
        </div>

        <button class="layui-btn layui-btn-normal layui-btn-radius" onclick="update()">保存</button>
        <button class="layui-btn  layui-btn-primary layui-btn-radius" onclick="updateAndClose()">保存并退出</button>
    </div>
    <div id="editorSection"></div>
    <script src="/res/layui/layui.all.js" type="text/javascript"></script>
    <script src="../../../res/editor/js/jquery-3.1.1.min.js" th:src="@{/res/editor/js/jquery-3.1.1.min.js}"></script>
    <script src='../../../res/editor/js/markdown-it.js' th:src="@{/res/editor/js/markdown-it.js}"></script>
    <script src="../../../res/editor/js/to-mark.js" th:src="@{/res/editor/js/to-mark.js}"></script>
    <script src="../../../res/editor/js/tui-code-snippet.js" th:src="@{/res/editor/js/tui-code-snippet.js}"></script>
    <script src="../../../res/editor/js/codemirror.js" th:src="@{/res/editor/js/codemirror.js}"></script>
    <script src="../../../res/editor/js/highlight.js" th:src="@{/res/editor/js/highlight.js}"></script>
    <script src="../../../res/editor/js/squire-raw.js" th:src="@{/res/editor/js/squire-raw.js}"></script>
    <script src="../../../res/editor/js/tui-editor-Editor.js" th:src="@{/res/editor/js/tui-editor-Editor.js}"></script>
    <script src="../../../res/editor/js/tui-editor-extScrollSync.min.js" th:src="@{/res/editor/js/tui-editor-extScrollSync.min.js}"></script>
    <script th:inline="javascript">
        var id = [[${id}]];
    </script>
    <script>

        var content = "### 大大的标题！！！";
        console.log(id);
        $.ajax({
            url:"/admin/post/getMarkdown",
            data:{
                "id":id
            },
            type:"post",
            async:false, //同步请求
            cache:false,
            success: function (ret) {
                if (ret.success) {
                    content = ret.data;
                } else {
                    // 如果success没能成功
                    alert(JSON.stringify(ret));
                }
            }
            }
        );


        var editor = new tui.Editor({
            el: document.querySelector('#editorSection'),
            previewStyle: 'vertical',
            height: '800px',
            initialEditType: 'markdown',
            initialValue: content,
            exts: ['scrollSync', 'colorSyntax']
        });

        $.post(
            {
                //dataType:'application/json',
                url:'/admin/post/getPost',
                data:{
                    "id":id
                },
                cache:false,
                success: function (ret) {
                    console.log(ret);
                    if (ret.success) {
                        console.log($("input[name='title']"));
                        $("input[name='title']").val(ret.data.title);
                    }
                },
                error: function (ret) {
                    console.log(ret);
                }
            }
        );

        function update() {
            var title = $("input[name='title']").val();
            var markdown = editor.getMarkdown();
            console.log(id);
            $.ajax({
                url:"/admin/post/updatePost",
                data: {
                    "id":id,
                    "title":title,
                    "markdown":markdown
                },
                method:'post',
                success: function (ret) {
                    if (ret.success) {
                        console.log(ret);
                        layer.msg("更新成功");
                    }
                },
                error:function (ret) {
                    console.log(ret);
                }
            });
        }


        function updateAndClose() {
            update();
            setTimeout(function() {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            },1000);
        }

    </script>
</body>
</html>